name: Test

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: [2.4, 2.5, 2.6, 2.7]
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - run: |
          gem install bundler --no-document
          bundle config set path vendor/bundle
          bundle install --jobs=4 --retry=3
      - run: bundle exec rake

  build-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
      - run: |
          gem install bundler --no-document
          bundle config set path vendor/bundle
          bundle install --jobs=4 --retry=3
      - run: bundle exec rake docs:build

  bench:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
      - run: |
          gem install bundler --no-document
          bundle config set path vendor/bundle
          bundle install --jobs=4 --retry=3
      - run: bundle exec rake bench
